h1 {
  font-size:24px;
  font-weight:600;
  margin-bottom:0px;
  margin-top:0px;
}
h4 {
  color: $blue-color;
  font-size:20px;
  font-weight:400;
  margin-bottom:0px;
  margin-top:0px;
}

.text {
    color: $whiteC3;
    word-wrap: break-word;
    margin-bottom:0px;
    margin-top:0px;
}
